@using Task2.Models
@{
    ViewBag.Title = "Detail View";
    Contact contact = Model;
}

<h2>@ViewBag.Title.</h2>

<p>Name: @contact.FirstName @contact.LastName</p>
<p>Position: @contact.JobTitle at @contact.Workplace</p>
<p>Address: <address>@contact.Address</address></p>
<p>Phone number: @contact.PhoneNumber</p>
<p>Date of birth: @contact.Birthday.ToShortDateString()</p>